body {
    background-color: #171717;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 20%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}